<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no" name="viewport" />
    <meta content="Divisi." name="description" />
    <meta content="Music, Viz" name="keywords" />
    <meta content="Jac21" name="author" />
    <meta content="#ffffff" name="theme-color" />
    <meta title="Divisi" />
</head>

<body>
    <h1>Divisi</h1>
    <h2>Status:
        <span id="status-value">???</span>
    </h2>
    <p>Value:
        <span id="emit-value">0</span>
    </p>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
    <script>
        $(function () {
            var socket = io('http://localhost:3005');

            socket.on('connect', function () {
                console.log('Connected!');
                document.getElementById('status-value').innerHTML = "Connected!";
            });

            socket.on('data', function (data) {
                console.log('Data: ', data);
                document.getElementById('emit-value').innerHTML += data;
            });

            socket.on('disconnect', function () {
                console.log('Disconnected!');
                document.getElementById('status-value').innerHTML = "Disconnected!";
            });
        });
    </script>
</body>

</html>